.DetailCard {
    padding: 20px;
    border: 2px solid lightgray;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 20px;
    margin-top: 20px;
    width: 50%;
    background: white;
}
.currentPrice .DetailCard{
    width: 99%;
}

.CardHeader {
    padding : 10px;
    border-bottom: 1px solid lightgray;
    padding-left: 0px;
    font-size: 18px;
}

.CardRow{
    margin-bottom: 15px;
    line-height: 2;
}

.CardBody {
    padding-top: 10px;
    
}